@import './variables.css';
@import './utility.css';
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
  }
  .font-primary{
    color: var(--green);
  }
  .background{
    background: var(--navy);
    min-height: 100vh;
  }
  .container{
    margin:0 4rem;
    min-height: 100vh;
  }