@import './variables.css';
@import './utility.css';
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
}
html{
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate);
  scroll-behavior: smooth;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; 
  background: transparent;
}
.font-primary{
  color: var(--green);
}
.background{
  background: var(--navy);
  min-height: 100vh;
}
.container{
  margin:0 4rem;
  /* min-height: 100vh; */
}
@media (max-width:900px){
  .container{
    margin: 0 4rem;
  }
}
@media (max-width: 480px){
  .container{
    margin: 0;
  }
}
a{
  text-decoration: none;
}